@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome, Mei</h1>
    <p>Página para Criação de Testes do curso de DevOps.</p>
</div>
